services:
  traefik:
    image: traefik:v2.9
    command:
      - --global.sendAnonymousUsage=false
      - --global.checkNewVersion=false
      - --log.level=${TRAEFIK_LOG_LEVEL}
      - --accesslog=true
      - --entrypoints.web.address=:80
      - --entrypoints.web.forwardedHeaders.trustedips=${TRUSTED_IPS}
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entryPoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.forwardedHeaders.trustedips=${TRUSTED_IPS}
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=traefik
      - --api.dashboard=true
      - --ping=true
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_ACME_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/docker/traefik/volumes/letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-dashboard.rule=Host(`${TRAEFIK_DASHBOARD_HOST}`)
      - traefik.http.routers.traefik-dashboard.entrypoints=websecure
      - traefik.http.routers.traefik-dashboard.tls.certresolver=letsencrypt
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.routers.traefik-dashboard.middlewares=traefik-dashboard-auth
      - traefik.http.middlewares.traefik-dashboard-auth.basicauth.users=${TRAEFIK_DASHBOARD_AUTH}
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      # Optional dashboard source restriction:
      # - traefik.http.middlewares.ipwhitelist.ipwhitelist.sourcerange=${IP_WHITELIST}
      # - traefik.http.routers.traefik-dashboard.middlewares=traefik-dashboard-auth,ipwhitelist
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    read_only: true
    tmpfs:
      - /tmp
    restart: unless-stopped
    networks:
      - traefik

networks:
  traefik:
    external: true
