services:
  traefik:
    image: "traefik:v2.9"
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.web.forwardedHeaders.trustedips=${TRUSTED_IPS}
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.forwardedHeaders.trustedips=${TRUSTED_IPS}
      - --providers.docker
      - --providers.docker.network=traefik
      - --api.dashboard=true
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_ACME_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --serversTransport.insecureSkipVerify=true
      - --providers.docker.exposedByDefault=false
      - --api.insecure
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - "/var/docker/traefik/volumes/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"
      # - "traefik.http.middlewares.ipwhitelist.ipwhitelist.sourcerange=${IP_WHITELIST}"
      # - "traefik.http.middlewares.ipwhitelist.ipwhitelist.ipstrategy.depth=1"
    restart: unless-stopped
    networks:
      - traefik
      
networks:
  traefik:
    external: true