services:
  zotregistry:
    image: ghcr.io/project-zot/zot-linux-amd64:v2.1.1
    volumes: 
      - /var/docker/zotregistry/config.json:/etc/zot/config.json
      - /var/docker/zotregistry/htpasswd:/etc/zot/htpasswd
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zotregistry.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.zotregistry.entrypoints=web"
      - "traefik.http.routers.zotregistry.middlewares=https-redirect"
      - "traefik.http.routers.zotregistry-secure.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.zotregistry-secure.entrypoints=websecure"
      - "traefik.http.routers.zotregistry-secure.tls.certresolver=letsencrypt"
      - "traefik.http.services.zotregistry-secure.loadbalancer.server.port=5000"
      - "traefik.http.services.zotregistry-secure.loadbalancer.server.scheme=http"
    restart: unless-stopped
    networks:
      - traefik

networks:
  traefik:
    external: true