services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:15.0
    env_file:
      - stack.env
    # More information about the mail-server ports:
    # https://docker-mailserver.github.io/docker-mailserver/latest/config/security/understanding-the-ports/
    # To avoid conflicts with yaml base-60 float, DO NOT remove the quotation marks.
    ports:
      - "25:25"    # SMTP  (explicit TLS => STARTTLS, Authentication is DISABLED => use port 465/587 instead)
      - "143:143"  # IMAP4 (explicit TLS => STARTTLS)
      - "465:465"  # ESMTP (implicit TLS)
      - "587:587"  # ESMTP (explicit TLS => STARTTLS)
      - "993:993"  # IMAP4 (implicit TLS)
    volumes:
      - /var/docker/docker-mailserver/volumes/data:/var/mail
      - /var/docker/docker-mailserver/volumes/state:/var/mail-state
      - /var/docker/docker-mailserver/volumes/logs:/var/log/mail
      - /var/docker/docker-mailserver/volumes/config:/tmp/docker-mailserver
      - /etc/localtime:/etc/localtime:ro
      # Mount the acme.json file from traefik to the mailserver container
      # - /var/docker/traefik/volumes/letsencrypt/acme.json:/etc/letsencrypt/acme.json:ro
    restart: unless-stopped
    stop_grace_period: 1m
    # Uncomment if using `ENABLE_FAIL2BAN=1`:
    # cap_add:
    #   - NET_ADMIN
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 0

