services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.0.2
    volumes:
      - "/var/docker/uptime-kuma/volumes/data:/app/data:rw"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.uptime-kuma.entrypoints=web"
      - "traefik.http.routers.uptime-kuma.middlewares=https-redirect"
      - "traefik.http.routers.uptime-kuma-secure.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.uptime-kuma-secure.entrypoints=websecure"
      - "traefik.http.routers.uptime-kuma-secure.tls.certresolver=letsencrypt"
      - "traefik.http.services.uptime-kuma-secure.loadbalancer.server.port=3001"
      - "traefik.http.services.uptime-kuma-secure.loadbalancer.server.scheme=http"
    restart: unless-stopped
    networks:
      - traefik

networks:
  traefik:
    external: true