x-shared: &shared
  restart: unless-stopped
  image: docker.n8n.io/n8nio/n8n:2.1.4
  environment:
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=postgres
    - DB_POSTGRESDB_PORT=5432
    - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
    - DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER}
    - DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD}
    - EXECUTIONS_MODE=queue
    - QUEUE_BULL_REDIS_HOST=redis
    - QUEUE_HEALTH_CHECK_ACTIVE=true
    - N8N_ENCRYPTION_KEY=${ENCRYPTION_KEY}
    - N8N_RUNNERS_ENABLED=true
    - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
    - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
    - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
    - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    - WEBHOOK_URL=https://${TRAEFIK_HOST}/
    - N8N_PROXY_HOPS=1
    - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
  links:
    - postgres
    - redis
  volumes:
    - /var/docker/n8n/volumes/n8n:/home/node/.n8n
  depends_on:
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_NON_ROOT_USER
      - POSTGRES_NON_ROOT_PASSWORD
    volumes:
      - /var/docker/n8n/volumes/postgres:/var/lib/postgresql/data
      - /var/docker/n8n/init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - n8n

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    volumes:
      - /var/docker/n8n/volumes/redis:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - n8n

  n8n:
    <<: *shared
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.n8n.entrypoints=web"
      - "traefik.http.routers.n8n.middlewares=https-redirect"
      - "traefik.http.routers.n8n-secure.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.n8n-secure.entrypoints=websecure"
      - "traefik.http.routers.n8n-secure.tls.certresolver=letsencrypt"
      - "traefik.http.services.n8n-secure.loadbalancer.server.port=5678"
      - "traefik.http.services.n8n-secure.loadbalancer.server.scheme=http"
    networks:
      - n8n
      - traefik

  n8n-worker:
    <<: *shared
    command: worker
    depends_on:
      - n8n
    networks:
      - n8n

networks:
  n8n:
    driver: bridge
  traefik:
    external: true